extends netbankinglayout

block content
    header
    table.css-table
        tr
            td(width="60%")
                table.two-column
                    tr
                        td
                            form#user_registration_form(action='/AddBeneficiary',enctype="multipart/form-data",data-ajax="false",id='BDEFormID',name = 'user_reigstration_form',method='post')
                                br
                                h2 #{msg}
                                table(style='width:100%;')
                                    tr
                                        td(colspan = '2')
                                            span(style='font-weight:bold;') For security reason please provide Transaction Password to continue
                                            hr
                                    tr
                                        input(type="hidden", value=beneficiary.source_acc_number,id="source_acc_number", name="source_acc_number")
                                        input(type="hidden", value=beneficiary.acc_number,id="acc_number", name="acc_number")
                                        input(type="hidden", value=beneficiary.ifsc_code,id="ifsc_code", name="ifsc_code")
                                        input(type="hidden", value=beneficiary.beneficiary_name,id="beneficiary_name", name="beneficiary_name")

                                    tr
                                        td(width="40%", align="right")
                                            label Transaction Password
                                        td(width="30%", align="left")
                                            input(type="password", id="trans_password", name="trans_password")
                                    tr
                                        td(width="40%", align="right")

                                        td(width="30%", align="left")
                                            input(type="submit", id="save", value='Submit',onclick="return transpassword();").button_as_text
                                            input(type="button", id="cancel", value='Cancel', onclick = 'window.location.href="/beneficiary"').button_as_text

