extends netbankinglayout

block content
    header
    table.css-table
        tr
            td
                h1 Change Password.
                form#user_registration_form(action='/changepwd',enctype="multipart/form-data",data-ajax="false",id='BDEFormID',name = 'user_reigstration_form',method='post')
                    br
                    h3 #{msg}
                    table(style='width:100%;')
                        tr
                            td(width="40%", align="right")
                                label Acc Number
                            td(width="60%", align="left")
                                select(name='acc_number',id='acc_number')
                                    -for (var j = 0; j < userDetails.length; ++j){
                                        option(value=userDetails[j].acc_number,id='acc_number') #{userDetails[j].acc_number}
                                    -}
                        tr
                            td(width="40%", align="right")
                                label Password Type
                            td(width="60%", align="left")
                                select(id='new_password_type',name='new_password_type')
                                    option(value='login_password') Login Password
                                    option(value='transaction_password') Transaction Password

                        tr
                            td(colspan = '2')
                                span(style='font-weight:bold;') Password Information
                                hr
                        tr
                            td(width="60%", align="right")
                                label Old Password
                            td(width="30%", align="left")
                                input(type="password", id="old_password", name="old_password")
                                input(type="hidden", value=userDetails[0].password,id="db_old_password", name="db_old_password")
                                input(type="hidden", value=userDetails[0].transaction_password,id="tr_old_password", name="tr_old_password")
                        tr
                            td(width="60%", align="right")
                                label New Password
                            td(width="60%", align="left")
                                input(type="password", id="new_password", name="new_password")
                        tr
                            td(width="40%", align="right")
                                label Confirm New Password
                            td(width="60%", align="left")
                                input(type="password", id="confirm_new_password", name="confirm_new_password")

                        tr
                            td(width="40%", align="right")
                                input(type="submit", id="save", value='Submit',onclick='return validateChangepassword();').button_as_text
                            td(width="30%", align="left")
                                input(type="button", id="cancel", value='Reset', onclick = 'return resetChangepassword();').button_as_text
                        tr
                            td(width="40%", align="left")
                                Label at least one number
                                br
                                Label one uppercase letter
                                br
                                Label one lowercase
                                br
                                Label at least six characters
                                br
                                Label that are letters, numbers or the underscore
                            td(width="60%", align="left")
