extends netbankinglayout

block content
    header
    table.css-table
        tr
            td
                form#user_registration_form(action='/changepassword',enctype="multipart/form-data",data-ajax="false",id='BDEFormID',name = 'user_reigstration_form',method='post')
                    br
                    h2 #{msg}
                    table(style='width:100%;')
                        tr
                            td(colspan = '2')
                                span(style='font-weight:bold;') For security reason please provide Transaction Password to continue
                                hr
                        tr
                            input(type="hidden", value=changepwdUpdate.new_password_type,id="new_password_type", name="new_password_type")
                            input(type="hidden", value=changepwdUpdate.acc_number,id="acc_number", name="acc_number")
                            input(type="hidden", value=changepwdUpdate.new_password,id="new_password", name="new_password")
                            input(type="hidden", value=changepwdUpdate.confirm_new_password,id="confirm_new_password", name="confirm_new_password")

                        tr
                            td(width="40%", align="right")
                                label Transaction Password
                            td(width="30%", align="left")
                                input(type="password", id="trans_password", name="trans_password")
                        tr
                            td(width="40%", align="right")

                            td(width="30%", align="left")
                                input(type="submit", id="save", value='Submit',onclick="return transpassword();").button_as_text
                                input(type="button", id="cancel", value='Cancel', onclick = 'window.location.href="/changepassword"').button_as_text

