extends netbankinglayout

block content
    header
    table.css-table
        tr
            td
                form#user_registration_form(action='/transfer',enctype="multipart/form-data",data-ajax="false",id='BDEFormID',name = 'user_reigstration_form',method='post')
                    br
                    h2 #{msg}
                    table(style='width:100%;')
                        tr
                            td(colspan = '2')
                                span(style='font-weight:bold;') For security reason please provide Transaction Password to continue
                                hr
                        tr
                            input(type="hidden", value=neftupdate.running_balance,id="", name="running_balance")
                            input(type="hidden", value=neftupdate.source_acc_number,id="source_acc_number", name="source_acc_number")
                            input(type="hidden", value=neftupdate.acc_number,id="acc_number", name="acc_number")
                            input(type="hidden", value=neftupdate.ifsc_code,id="ifsc_code", name="ifsc_code")
                            input(type="hidden", value=neftupdate.beneficiary_name,id="beneficiary_name", name="beneficiary_name")
                            input(type="hidden", value=neftupdate.transfer_amount,id="transfer_amount", name="transfer_amount")
                            input(type="hidden", value=neftupdate.transaction_notes,id="transaction_notes", name="transaction_notes")
                            input(type="hidden", value=neftupdate.customer_id,id="customer_id", name="customer_id")
                            input(type="hidden", value=neftupdate.balance,id="balance", name="balance")

                        tr
                            td(width="40%", align="right")
                                label Transaction Password
                            td(width="30%", align="left")
                                input(type="password", id="trans_password", name="trans_password")
                        tr
                            td(width="40%", align="right")

                            td(width="30%", align="left")
                                input(type="submit", id="save", value='Submit',onclick="return transpassword();").button_as_text
                                input(type="button", id="cancel", value='Cancel', onclick = 'window.location.href="/nefttransaction"').button_as_text

