extends netbankinglayout

block content
    header
    table.css-table
        tr
            td
                form#user_registration_form(action='/profile',enctype="multipart/form-data",data-ajax="false",id='BDEFormID',name = 'user_reigstration_form',method='post')
                    br
                    h2 #{msg}
                    table(style='width:100%;')
                        tr
                            td(colspan = '2')
                                span(style='font-weight:bold;') For security reason please provide Transaction Password to continue
                                hr
                        tr
                            input(type="hidden", value=update.user_name,id="user_name", name="user_name")
                            input(type="hidden", value=update.acc_number,id="acc_number", name="acc_number")
                            input(type="hidden", value=update.email,id="email", name="email")
                            input(type="hidden", value=update.phone,id="phone", name="phone")

                        tr
                            td(width="40%", align="right")
                                label Transaction Password
                            td(width="30%", align="left")
                                input(type="password", id="trans_password", name="trans_password")
                        tr
                            td(width="40%", align="right")

                            td(width="30%", align="left")
                                input(type="submit", id="save", value='Submit',onclick="return transpassword();").button_as_text
                                input(type="button", id="cancel", value='Cancel', onclick = 'window.location.href="/profileupdate"').button_as_text

